<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SGIGuard</title>
</head>

<body>

<h1>SGIGuard</h1>

<p th:if="${error}"
   th:text="${error}"
   style="color:red;">
</p>

<p th:if="${leave}"
   style="color:green;">

    Parental leave added:
    <span th:text="${leave.date}"></span>

</p>

<h2>Add person</h2>

<form action="/person" method="post">

    <label>
        <input type="text"
               name="personalNumber"
               placeholder="Personal number">
    </label>

    <label>
        <input type="text"
               name="firstName"
               placeholder="First name">
    </label>

    <label>
        <input type="text"
               name="lastName"
               placeholder="Last name">
    </label>

    <button type="submit">
        Add person
    </button>

</form>

<hr>

<h2>Add baseline shift</h2>

<form action="/shift" method="post">

    <label>
        <input type="text"
               name="personalNumber"
               placeholder="Personal number">
    </label>

    <label>
        <input type="date"
               name="startDate"
               placeholder="Shift start date">
    </label>

    <label>
        <input type="time"
               name="startTime"
               placeholder="Shift start time">
    </label>

    <label>
        <input type="date"
               name="endDate"
               placeholder="Shift end">
    </label>

    <label>
        <input type="time"
               name="endTime"
               placeholder="Shift end time">
    </label>

    <label>
        <input type="number"
               name="breakMinutes"
               placeholder="Break minutes if any">
    </label>

    <label>
        <input type="text"
               name="type"
               placeholder="Shift type: baseline or actual">
    </label>

    <button type="submit">
        Add shift
    </button>

</form>

<h2>Add Parental Leave</h2>

<form action="/parental-leave" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="Personal Number">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <label>
        <select name="extent">

            <option value="0.125">1/8 day</option>
            <option value="0.25">1/4 day</option>
            <option value="0.5">1/2 day</option>
            <option value="0.75">3/4 day</option>
            <option value="1.0">Full day</option>

        </select>
    </label>

    <button type="submit">
        Add Leave
    </button>

</form>

<hr>

<h2>Analyze Day</h2>

<form action="/analyze" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="Personal Number">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <button type="submit">
        Analyze
    </button>

</form>

<hr>

</body>
</html>

