<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SGIGuard</title>
</head>

<body

style="
background-color:#1e1e1e;
color:white;
font-family:Arial,serif;
">

<h1>SGIGuard</h1>

<p th:if="${error}"
   th:text="${error}"
   style="color:red;">
</p>

<p th:if="${leave}"
   style="color:green;">

    Parental leave added:
    <span th:text="${leave.date}"></span>

</p>

<h2>Add person</h2>

<form action="/person" method="post">

    <label>
        <input type="text"
               name="personalNumber"
               placeholder="Personal number">
    </label>

    <label>
        <input type="text"
               name="firstName"
               placeholder="First name">
    </label>

    <label>
        <input type="text"
               name="lastName"
               placeholder="Last name">
    </label>

    <button type="submit">
        Add person
    </button>

</form>

<hr>

<h2>Add shift</h2>

<form action="/shift" method="post">

    <div style="margin-bottom:10px;">

        <label
                for="personalNumber"
                style="display:block; margin-bottom:4px;">
            Person nummer
        </label>

        <input
                id="personalNumber"
                type="number"
                name="personalNumber"
                placeholder="xxxxxxxxxxxx"/>
    </div>

    <div style="margin-bottom:10px;">

        <label for="startDate">
            Startdatum
        </label>

        <input
                id="startDate"
                type="date"
                name="startDate">

        <label for="startTime">
            Starttid
        </label>

        <input
                id="startTime"
                type="time"
                name="startTime">

    </div>

    <div style="margin-bottom:10px;">

        <label for="endDate">
            Slutdatum
        </label>

        <input
                id="endDate"
                type="date"
                name="endDate">

        <label for="endTime">
            Sluttid
        </label>

        <input
                id="endTime"
                type="time"
                name="endTime">

    </div>

    <div style="margin-bottom:10px;">

        <label
                for="breakMinutes"
                style="display:block; margin-bottom:4px;">
            Rast i minuter
        </label>

        <input
                id="breakMinutes"
                type="number"
                name="breakMinutes"
                placeholder="Om rast, annars 0"/>
    </div>

    <div style="margin-bottom:10px;">

        <label
                for="type"
                style="display:block; margin-bottom:4px;">
            Typ av pass
        </label>

        <input
                id="type"
                type="text"
                name="type"
                placeholder="baseline eller actual">
    </div>

    <button type="submit">
        Add shift
    </button>

</form>

<h2>Add Parental Leave</h2>

<form action="/parental-leave" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="Personal Number">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <label>
        <select name="extent">

            <option value="0.125">1/8 day</option>
            <option value="0.25">1/4 day</option>
            <option value="0.5">1/2 day</option>
            <option value="0.75">3/4 day</option>
            <option value="1.0">Full day</option>

        </select>
    </label>

    <button type="submit">
        Add Leave
    </button>

</form>

<hr>

<h2>Analyze</h2>

<form action="/analyzeweek" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="Personal Number">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <button type="submit">
        Analyze
    </button>

</form>

<hr>

</body>
</html>

