<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SGIGuard</title>
</head>

<body
style="
background-color:#1e1e1e;
color:white;
font-family:Arial,serif;
">
<p
        th:if="${param.success != null and param.success[0] == 'personAdded'}"
        style="
    color:lightgreen;
    font-weight:bold;">

    Person tillagd!
</p>

<p
        t    th:if="${param.success != null and param.success[0] == 'shiftAdded'}"

        style="
    color:lightgreen;
    font-weight:bold;">

    Pass tillagt!

</p>

<p
        th:if="${param.success != null and param.success[0] == 'parentalLeaveAdded'}"

        style="
    color:lightgreen;
    font-weight:bold;">

    Föräldrapenning tillagt!

</p>

<h1>
    <p style="color:Green;">
    SGIGuard
    </p>
</h1>

<h2>Personuppgifter</h2>

<form action="/person" method="post">

    <label>
        <input type="text"
               name="personalNumber"
               placeholder="xxxxxxxxxxxx">
    </label>

    <label>
        <input type="text"
               name="firstName"
               placeholder="Förnamn">
    </label>

    <label>
        <input type="text"
               name="lastName"
               placeholder="Efternamn">
    </label>

    <button
        style="
    background:#00aa00;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;"
            type="submit">
        Spara
    </button>

</form>

<hr>

<h2>Lägg till arbetspass</h2>

<form action="/shift" method="post">

    <div style="
    background:lightgrey;
    padding:20px;
    border-radius:10px;
    width:400px;">

    <div style="margin-bottom:10px;">

        <label
                for="personalNumber"
                style="display:block; margin-bottom:4px;">
            Person nummer
        </label>

        <input
                id="personalNumber"
                type="number"
                name="personalNumber"
                placeholder="xxxxxxxxxxxx"/>
    </div>

    <div style="margin-bottom:10px;">

        <label for="startDate">
            Startdatum
        </label>

        <input
                id="startDate"
                type="date"
                name="startDate">

        <label for="startTime">
            Starttid
        </label>

        <input
                id="startTime"
                type="time"
                name="startTime">

    </div>

    <div style="margin-bottom:10px;">

        <label for="endDate">
            Slutdatum
        </label>

        <input
                id="endDate"
                type="date"
                name="endDate">

        <label for="endTime">
            Sluttid
        </label>

        <input
                id="endTime"
                type="time"
                name="endTime">

    </div>

    <div style="margin-bottom:10px;">

        <label
                for="breakMinutes"
                style="display:block; margin-bottom:4px;">
            Rast i minuter
        </label>

        <input
                id="breakMinutes"
                type="number"
                name="breakMinutes"
                placeholder="Om rast, annars 0"/>
    </div>

        <div style="margin-bottom:10px;">

            <label
                    for="type"
                    style="display:block; margin-bottom:4px;">

                Typ av pass

            </label>

            <select name="type" id="type">

                <option value="BASELINE">
                    Ordinarie pass
                </option>

                <option value="ACTUAL">
                    Faktiskt pass
                </option>

            </select>

        </div>

    <button
            style="
    background:#00aa00;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;"
            type="submit">
        Spara

    </button>

    </div>

</form>

<h2>Lägg till föräldrapenning</h2>

<form action="/parental-leave" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="Personal Number">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <label>
        <select name="extent">

            <option value="0.125">1/8 day</option>
            <option value="0.25">1/4 day</option>
            <option value="0.5">1/2 day</option>
            <option value="0.75">3/4 day</option>
            <option value="1.0">Full day</option>

        </select>
    </label>

    <button
            style="
    background:#00aa00;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;"
            type="submit">
        Spara
    </button>

</form>

<hr>

<h2>Analysera SGI status</h2>

<form action="/analyzeweek" method="post">

    <label>
        <input type="number"
               name="personalNumber"
               placeholder="xxxxxxxxxxxx">
    </label>

    <label>
        <input type="date"
               name="date">
    </label>

    <button
        style="
    background:#00aa00;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;"

            type="submit">
        Analysera
    </button>

</form>

<hr>

</body>
</html>

