<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SGIGuard</title>
    <title>Veckoanalys</title>
</head>

<body

        style="
background-color:#1e1e1e;
color:white;
font-family:Arial,serif;

    display:flex;
    flex-direction:column;
    align-items:center;
    ">

<h2 th:text="'Användare: '
    + ${person.firstName}
    + ' '
    + ${person.lastName}">
</h2>

<h2 th:text="'Vecka ' + ${weeklyanalyses.weeklyNumber}">
</h2>

<table
        style="
    border-collapse:collapse;
    background:white;
    color:black;
    border-radius:10px;
    overflow:hidden;
    min-width:1100px;
    text-align:center;
    ">
        <th>Datum</th>
        <th>Veckodag</th>
        <th>Ordinarie timmar</th>
        <th>Faktiska timmar</th>
        <th>Saknas</th>
        <th>Rek. FP</th>
        <th>Status</th>

    <tr th:each="day : ${weeklyanalyses.dailyAnalyses}"
        style="transition:0.2s;">

        <td style="padding:10px;"
            th:text="${day.date}">
        </td>

        <td style="padding:10px;"
            th:text="${day.dayOfWeek}">
        </td>

        <td style="padding:10px;"
            th:text="${day.baselineHours}">
        </td>

        <td style="padding:10px;"
            th:text="${day.actualHours}">
        </td>

        <td style="padding:10px;"
            th:text="${day.remainingGapHours}">
        </td>

        <td style="padding:10px;"
            th:text="${day.recommendedExtentLabel}">
        </td>

        <td
                th:text="${day.status.toString() == 'AT_RISK'}
                ? 'Risk'
                : 'Skyddad'"
            style="
    padding:12px;
    font-weight:bold;
    width:160px;"


            th:styleappend="${day.status.toString() == 'AT_RISK'}
    ? 'background-color:#ffcccc; color:red;'
    : 'background-color:#ccffcc; color:green;'">
        </td>
    </tr>

</table>

<div
        th:if="${hasRisk}"

        style="
    background:#ffcccc;
    color:#990000;
    padding:15px 25px;
    border-radius:10px;
    margin-bottom:20px;
    font-weight:bold;">

    Varning: En eller flera dagar riskerar att påverka SGI.
</div>

<a
        href="/"

        style="
    background:#333;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    margin-top:20px;
    display:inline-block;">

    Tillbaka

</a>
</body>
</html>